{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <a href="{{ path("admin_category_create") }}" class="btn btn-success">Yangi</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>name</td>
            <td>Status</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.statusText }}</td>
                <td>
                    <a href="{{ path('admin_category_update',{'category' :category.id}) }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_category_delete',{"category":category.id}) }}"
                       class="btn btn-danger confirm">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>
{% endblock %}