{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <a href="{{ path("admin_product_create") }}" class="btn btn-success">Yangi</a>

    {% if products.getTotalItemCount > 0 %}
        {# total items count #}
        <div class="count">
            {{ "Jami soni:" ~ products.getTotalItemCount }}
        </div>
    {% endif %}

    <hr>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Kategoriya</td>
            <td>name</td>
            <td>Narx</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.category.title }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('admin_product_update',{'product' :product.id}) }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_product_delete',{"product":product.id}) }}"
                       class="btn btn-danger confirm">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}